{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% if session.user_id %}

    <!-- Session active folder-->
    <input type="hidden" id="active_folder" value="{{ session["active_folder"] }}">

        <div class="pl-5 pt-3">
            <h1 class="display-4">Welcome to your dashboard!</h1>
            <p class="lead">Browse through your folders and start rehearsing or create new cards!</p>
        </div>

            <hr/>

            <div class="row">
                <div class="col pt-4 px-5">

                    <!-- Folder list -->
                    <h4 class="lead"><b>Browse folders</b></h4>
                    <div class="list-group py-3">
                        {% for folder in folders %}
                        <form action="/viewfolder" method="post">
                            <input type="hidden" name="folderid" type="text" value="{{ folder["id"] }}">
                            <button type="submit" id="{{ folder["id"] }}" class="folder-btn list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            {{ folder["name"] }}
                            <span class="badge badge-primary badge-pill">{{ folder["card_amount"] }}</span>
                            </button>
                        </form>
                        {% endfor %}
                    </div>

                    <hr/>

                    <!-- Delete Folder -->
                    <h4 class="lead"><b>Edit folder</b></h4>

                    <div class="pt-3 pb-5">
                        <form action="/editfolder" method="post">
                            <div class="form-group">
                                <select required class="form-control" name ="folderid">
                                    <option value="" selected disabled>Select folder to edit</option>
                                {% for folder in folders %}
                                    <option value="{{ folder["id"] }}">{{ folder["name"] }}</option>
                                {% endfor %}
                                </select>
                            </div>

                            <button id="folder_rename_btn" class="btn btn-dark" type="button" data-toggle="modal" data-target="#renameFolderModal">Rename</button>
                            <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#deleteFolderModal">Delete</button>

                            <!-- Rename folder modal -->

                                <div class="modal" id="renameFolderModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Rename folder</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                           <div class="modal-body">
                                                    <div class="form-group">
                                                        <input id="folder_rename_input" autocomplete="off" autofocus class="form-control" name="newname" placeholder="New folder name" maxlength="30" type="text">
                                                    </div>
                                                    <button class="btn btn-dark" name="action" value="rename" type="submit">Rename</button>
                                            </div>

                                            <!-- Modal footer -->
                                           <div class="modal-footer">
                                                <button id="folder_rename_cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            <!-- Delete confirmation modal -->

                            <div class="modal" id="deleteFolderModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <h4>Are you sure you want to delete folder?</h4>
                                            <p>All cards within the folder will be deleted as well.</p>
                                            <button class="btn btn-dark" name="action" value="delete" type="submit">Proceed to delete</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <!-- Folder contents -->
                <div class="col pt-4 px-5" id="middle-border">
                    {% if cards|length < 1 %}
                        <h4 class="lead"><b>Folder content</b></h4>
                        <p class="pt-4 lead">There's nothing here...</p>
                    {% else %}
                    <div>
                        <h4 class="lead"><b>Folder content</b></h4>
                        <form class="pt-3" action="/rehearse" method="post">
                            <label>Rehearse by :</label>
                            &nbsp;
                            <button type="submit" name="action" value="front" class="btn btn-dark btn-sm">Front side</button>
                            &nbsp;
                            <button type="submit" name="action" value="back" class="btn btn-dark btn-sm">Back side</button>
                        </form>
                    </div>

                    <br/>

<!-- CARD VERSION 1.0 (TABLE FORMAT)
                        <div class="pt-3 pb-5">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width: 95%">Front side</th>
                                    <th style="width: 5%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for card in cards %}
                                <tr>
                                    <td style="width: 95%">{{ card["front"] }}</td>
                                    <td style="width: 5%">
                                        <form action="/deletecard" method="post">
                                        <input type="hidden" name="card_id" type="text" value="{{ card["id"] }}">
                                            <button id="icon-btn" type="submit"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
END OF CARD VERSION 1.0 (TABLE FORMAT)-->

<!-- CARD VERSION 2.0 (CARD FORMAT) -->
                    <div class="pb-5">
                        {% for card in cards %}
                        <div class="card text-dark bg-light mb-3">
                            <div class="card-header">
                                <p style="float: left" class="my-0"><b># {{ loop.index }}</b></p>
                                <form action="/editcard" method="post">
                                    <input type="hidden" name="card_id" type="text" value="{{ card["id"] }}">
                                    <button id="icon-btn" name="action" value="delete" type="submit"><i class="fas fa-trash-alt"></i></button>
                                    <button id="icon-btn" type="button" data-toggle="modal" data-target="#card-{{ loop.index }}"><i class="fas fa-pen"></i></button>

                                    <!-- Rename folder modal -->

                                    <div class="modal" id="card-{{ loop.index }}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Edit card content</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <input autocomplete="off" autofocus class="form-control" name="newfront" value="{{ card["front"] }}" maxlength="55" type="text">
                                                    </div>
                                                    <div class="form-group">
                                                        <input autocomplete="off" class="form-control" name="newback" value="{{ card["back"] }}" maxlength="55" type="text">
                                                    </div>

                                                    <button class="btn btn-dark" name="action" value="edit" type="submit">Confirm changes</button>
                                                </div>

                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><span class="badge badge-dark badge-pill">F</span> &nbsp; {{ card["front"] }}</p>
                                <p class="card-text"><span class="badge badge-dark badge-pill">B</span> &nbsp; <i>{{ card["back"] }}</i></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
<!-- END OF CARD VERSION 2.0 (CARD FORMAT) -->
                    {% endif %}
                </div>

                <!-- Create new cards -->
                <div class="col pt-4 px-5">

                    <h4 class="lead"><b>Create new card</b></h4>

                    <form action="/newcard" method="post" class="py-3">
                        <div class="form-group">
                            <select required class="form-control" name ="foldername">
                                <option value="" selected disabled>Select folder</option>
                            {% for folder in folders %}
                                <option value="{{ folder["name"] }}">{{ folder["name"] }}</option>
                            {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <input required autocomplete="off" autofocus class="form-control" name="front" placeholder="Front content" maxlength="55" type="text"/>
                        </div>
                        <div class="form-group">
                            <input required autocomplete="off" autofocus class="form-control" name="back" placeholder="Back content" maxlength="55" type="text"/>
                        </div>
                        <button class="btn btn-dark" type="submit">Create card</button>
                    </form>

                    <hr/>

                    <!-- Create new folder -->
                    <h4 class="lead"><b>Create new folder</b></h4>

                    <div class="pt-3 pb-5">
                        <form action="/newfolder" method="post">
                            <div class="form-group">
                                <input required autocomplete="off" autofocus class="form-control" name="foldername" placeholder="New Folder Name" maxlength="30" type="text"/>
                            </div>
                            <button class="btn btn-dark" type="submit">Create folder</button>
                        </form>
                    </div>
                </div>
            </div>

    {% else %}
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Welcome to Flash Card Maker!</h1>
            <p class="lead">Please <a href="/register">login</a> to access your dashboard. <br/>
            <b>Newcomers? </b><a href="/register">Register</a> in a few secs and start building your flash card!
            </p>
          </div>
        </div>
    {% endif %}

<script>

    // Toggle activate button when clicked
    $(document).ready(function() {
       $(".folder-btn").click(function() {
          $(".folder-btn").not(this).removeClass("active");
          $(this).addClass("active");
       });
    });

    // Activate active folder
    $(document).ready(function() {
        let active_folder = document.getElementById('active_folder').value;
       $("#" + active_folder).addClass("active");
    });

    // Add required to input when rename button is clicked
    $(document).ready(function() {
       $("folder_rename_btn").click(function() {
          $("#folder_rename_input").addClass("required");
       });
    });

    // Remove required to input when cancel button is clicked
    $(document).ready(function() {
       $("folder_rename_cancel").click(function() {
          $("#folder_rename_input").removeClass("required");
       });
    });


</script>

{% endblock %}
